* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.content {
  padding-left: 5rem;
  padding-right: 5rem;
  padding-top: 6rem;
  margin-left: 320px;
}
.sidebar {
  position: fixed;
}

.wrapper_header {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 10px;
  margin: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-bottom: 15px;
}
